@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Mono", monospace;
}

/* 
#cursor {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 0;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background:#0ff;
    cursor: pointer;
    opacity: 1;
}

#cursor.-activated {
    -webkit-animation: fadeIn 1s ease-out forwards;
            animation: fadeIn 1s ease-out forwards;
} */

.tags-cloud {
  position: absolute;
  top: calc(45% - 30vmin);
  right: calc(27.5% - 30vmin);
  margin: 0;
  padding: 0;
  text-align: center;
  /* height: 70vmin;
    width: 70vmin; */
  width: 40%;
  height: 70%;
  list-style: none;
  opacity: 0;
  overflow: initial;
  scale: 0.8;
}

@media only screen and (min-width: 1800px){
  .tags-cloud{
    scale: 0.9;
  }
}


@media only screen and (max-width: 600px){
  
  .tags-cloud{
     top: 25%;
     left: 25%;
     width: 50%;
     height: 30%;
    scale: 1.5;
  }
  
.tags-cloud > .tag{
  font-size: 1rem !important;
}

  

}

.tags-cloud.-loaded {
  -webkit-animation: fadeIn 2s ease-out forwards;
  animation: fadeIn 2s ease-out forwards;
}

.tags-cloud > .tag {
  position: absolute;
  /* color: aqua; */
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  text-align: center;
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.7s linear, opacity 0.7s linear;

  animation-name: myh1anime2;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.tags-cloud > .tag > .wrap {
    position: absolute;
  /* color: aqua; */
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  width: fit-content;
   text-align: center;
  margin: 0;
  padding: 0;
  display: inline-block;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes myh1anime2 {
  0% {
    color: #08fdd8;
  }

  50% {
    color: #08fdd8;
  }

  91.1% {
    color: #08fdd8;
  }

  93.2% {
    color: black;
  }

  95.5% {
    color: black;
  }

  96.5% {
    color: #08fdd8;
  }

  98.7% {
    color: black;
  }

  99.5% {
    color: #08fdd8;
  }

  100% {
    color: black;
  }
}
