#myskilldiv {
    position: relative;
    display: block;
    min-width: calc(100vw - 17px);
    height: 85vh;
    
    
}









@keyframes myh1anime {
    0% {
        color: white;
    }

    50% {
        color: white;
    }

    91.1% {
        color: white;

    }


    93.2% {
        color: #08fdd8;
      

    }

    95.5% {
        color: #08fdd8;
      
    }

    96.5% {
        color: white;
    }

    98.7% {
        color: #08fdd8;
      
    }

    99.5% {
        color: white;
    }

    100% {
        color: #08fdd8;
      
    }
}

.mh1sk {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 50%;
}

.mh1sksk{
      position: absolute;
    top: 2%;
    left: 5%;
    width: 50%;
}
.mh10sk {
 position: relative;

 font-family: 'Montserrat',
 sans-serif;
 font-size: 4rem;
 font-weight: 4rem;
   white-space: nowrap;
 color: #ffffff;
 animation-name: mh10animesk;
 animation-duration: 0.5s;
 animation-direction: alternate;
 animation-iteration-count: 3;
 transition: all 0.6s ease-out;
}

@keyframes mh10animesk {

    0% {
        color: aqua;
        
        font-size: 2.5rem;
        font-weight: 1.5rem;
        opacity: 0.1;
    }

    100% {
        color: aqua;
        
        font-size: 4rem;
        font-weight: 4.5rem;
    }


}

.mh10sk:hover {
    color: aqua;
    padding: 0.625rem;
    text-shadow: 5px 5px 1px red;
    -webkit-transition: all 0.3s ease-in-out;
    animation-name: mh10enime;
    /* animation-duration: 0.4s; */

    /* animation-direction: alternate; */
    animation-iteration-count: 3;
    transition: all 0.3s ease-out;

}
 @media only screen and (max-width: 600px){
     #myskilldiv {
         height: 100vh;
     }
     .mh1sk{
        top: 5%;
        left: 25%;
         width: 70%;
     }
     .mh1sksk{
        left: 30% !important;
     }

  
 }